/**************************
Herança e especificidade */

/* Seletores iguais, excecção important

#pagina p{
    color: red important;
}

#pagina p{
    color:blue;
}*/

/* Se um seletor for mais especifico que o outro 
 a regra mais especifica será aplicada (terá precedencia sobre regras mais gerais)
 */


 * {
     color: red;
 }


/*3*/
 h2{
    color: blue;
 }


 /*2*/
 h2.verde{
    color: green;
 }

/*1*/
h2#amarelo{
    color: yellow;
}
